/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialog {
  border-right: #e10282 3px solid;
  border-left: #e10282 3px solid;
  background-color: #212242;
}

#aboutBox {
display: flex;
align-items: center;
justify-content: center;
 height: 100vh;
}

#leftFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: image-set(url("chrome://branding/content/about-logo.png"), url("chrome://branding/content/about-logo@2x.png") 2x);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}

#rightFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#wordmark {
  font-weight: bold;
  font-size: 250%;
}

#version {
  margin-left: 7px;
  font-weight: bold;
  user-select: text;
  -moz-user-focus: normal;
  cursor: text;
}
